{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">2.25%, not ie 11, not op_mini all"]
        },
        "exclude": ["proposal-dynamic-import"]
      }
    ],
    "@babel/preset-react"
  ]
}