#tmp-resources-warning {
    padding: 3px;
    text-align: center;
    background-color: #E0E0E0;
    color: #AA0000;
    border: 2px solid #CC0000;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px
}