/* Base CSS */

:root {
    --link-resources-urls: 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i https://fonts.googleapis.com/icon?family=Material+Icons';
    --brightness-factor-float: -1;
    --modal-overlay-bg-rgb: #000000a3;

    --marker-width-px: 8px;
    --marker-color-highlight-rgb: #FF4747;
    --marker-color-rgb: #FFFFFF77;

    --min-opacity-float: 0.2;
    --max-opacity-float: 0.7;
    --max-invert-perc: 50%;
}

html, body {
    cursor: auto;
    overscroll-behavior-x: contain;
    background-color: var(--editor-bg-rgb);
    color: var(--editor-rgb)
}


.focus-box:focus {
    box-shadow: inset 0 0 1px 1px var(--focus-rgba);
    outline: none
}

/*
     button styles
 */
.button-bg {
    background-color: var(--button-bg-rgb)
}
.button-color {
    color: var(--button-rgb)
}
.button-padding-h {
    padding-left: var(--button-padding-px) !important;
    padding-right: var(--button-padding-px) !important;
    box-sizing: border-box
}
.button-padding-v {
    padding-top: var(--button-padding-px) !important;
    padding-bottom: var(--button-padding-px) !important;
    box-sizing: border-box
}

.button-padding {
    padding: var(--button-min-padding-px);
    box-sizing: border-box
}

.button-border-color {
    border-color: var(--button-border-rgb)
}
.button-border-style {
    border-style: var(--button-bstyle)
}
.button-border-width {
    border-width: var(--button-border-width-px)
}
.button-border-1 {
    border-width: 1px
}
.button-border-radius {
    border-radius: var(--button-border-radius-px)
}
.button-font {
    font-family: var(--button-font)
}

/*
   Input styles
 */
.input-bg {
    background-color: var(--input-bg-rgb)
}
.input-color {
    color: var(--input-rgb)
}
.input-padding {
    padding-left: var(--input-padding-px);
    padding-right: var(--input-padding-px);
    box-sizing: border-box
}
.input-border-color {
    border-color: var(--input-border-rgb)
}
.input-border-style {
    border-style: var(--input-bstyle)
}
.input-border-width {
    border-width: var(--input-border-width-px)
}
.input-border-1 {
    border-width: 1px
}
.input-border-radius {
    border-radius: var(--input-border-radius-px)
}


.active-bg {
    background-color: var(--active-bg-rgb)
}

.active-color {
    color: var(--active-rgb)
}

.active-border-color {
    border-color: var(--active-border-rgb)
}

.error-bg {
    background-color: var(--error-bg-rgb)
}

.error-color {
    color: var(--error-rgb)
}

.hover-change, .hover-fix {
    filter: brightness(calc(1 - var(--brightness-factor-float) * 0.25));
}

.hover-change:hover:not(.clicked) {
    filter: brightness(1) !important;
}

.hover-change.clicked {
    filter: brightness(calc(1 + var(--brightness-factor-float) * 0.25)) !important;
}

/**

 */
.circle-handle {
    border: 2px solid #ffffff;
    border-radius: 100%
}


.hidden {
    display: none
}

.less {
    opacity: 0.5
}

.outline-1 {
    outline: 1px solid var(--box-border-rgb)
}

.border-box {
    box-sizing: border-box !important
}

.content-box {
    box-sizing: content-box !important
}

.material-icons.md-18 {
    font-size: 18px;
}

.text-vertical {
    writing-mode: vertical-lr
}

.checkerboard-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggRDQENU0dyawAAACZJREFUGNNjPHXqDAMSMDY2ROYyMeAFNJVm/Pv3LzL/7Nnzg8VpAKebCGpIIxHBAAAAAElFTkSuQmCC');
    background-repeat: repeat
}

.noGap {
    margin-left: 0px !important
}

.separator-h {
    margin-left: 2px;
    margin-right: 2px;
    background-color: var(--box-border-rgb)
}

.transparent {
    background-color: transparent !important;
}

.pos-0 {
    top: 0;
    left: 0
}

/* TODO */
.tooltip {
    background-color: #b3bbb1;
    color: #000000;
    width: max-content;
    max-width: 50vw
}

.tooltip-parent:hover > .tooltip {
    display: block !important
}

/* Scrollbar */

.scrollbar-div {
    border: 1px inset var(--toolbar-bg-rgb);
    padding: 1px;
    margin: 0px;
    background-color: var(--toolbar-bg-rgb)
}

.scrollbar-space {
    background-color: #000000;
    opacity: 0.5
}

.scrollbar-handle {
    flex: 1;
    border: 1px outset var(--button-border-rgb);
    background-color: var(--button-bg-rgb);
    filter: brightness(calc(1 - var(--brightness-factor-float) * 0.25));
}

.scrollbar-handle:hover {
    filter: brightness(1);
}

.scrollbar-handle.active {
    filter: brightness(calc(1 + var(--brightness-factor-float) * 0.25));
}


/* ALL:   */

.modal-overlay {
    background-color: var(--modal-overlay-bg-rgb);
}

.modal-centered {
    background-color: var(--editor-bg-rgb);
}

.modal-bounds {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
}

.overflow {
    overflow: visible;
}

.hover-inverse:hover {
    background-color: #888888;
    color: white;
    cursor: pointer;
}

.font-small {
    font-size: 14px;
}

/* Theme-Styling */

.hover-highlight {
    filter: brightness(calc(1 - var(--brightness-factor-float) * 0.25));
}

.hover-highlight:hover:not(.clicked) {
    filter: brightness(1) !important;
}

.hover-highlight.clicked {
    filter: brightness(calc(1 + var(--brightness-factor-float) * 0.25)) !important;
}

.control-bg {
    background-color: var(--scrollbar-rgb);
}

/*
.active-highlight {
    background-color: rgba(91, 170, 43, 0.93) !important;
    color: white !important;
}

.active-bg-text {
    color: rgba(91, 170, 43, 0.93)
}

.active-border {
    border: solid rgba(91, 170, 43, 0.93) 2px !important;

}
 */

.disabled {
    opacity: 0.45
}

.top {
    z-index: 2000000;
}

.shadow {
    box-shadow: 5px 5px 5px #00000088;
}

.rev-cols {
    flex-direction: column-reverse !important
}

@-webkit-keyframes blinker {
    from {
        backdrop-filter: invert(0%);
        opacity: var(--max-opacity-float);
    }
    to {
        backdrop-filter: invert(var(--max-invert-perc));
        opacity: var(--min-opacity-float);
    }
}

.blink {
    opacity: 0.5;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.even-cell {
    background-color: #00000044;
}

.odd-cell {
    background-color: #FFFFFF44;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes input-warning {
    from {background-color: var(--input-bg-rgb)}
    to {background-color: var(--warning-rgb)}
}

div.invalid,
textarea.invalid,
input.invalid,
input:invalid {
    -webkit-animation-name: input-warning;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    color: black;
}

.col-span-2 {
    grid-column: span 2
}

/*
    Theme-Css
*/

.color-warning {
    color: var(--warning-rgb)
}

.invalid-highlight {
    background-color: var(--warning-rgb) !important;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.marker-grid {
    position: relative;
    display: grid;
    grid-template-columns: var(--marker-width-px) min-content var(--marker-width-px);
    grid-template-rows: var(--marker-width-px) min-content var(--marker-width-px);
}

.marker-cell {
    background-color: var(--marker-rgb);
}

.marker-cell-highlight {
    background-color: var(--marker-color-highlight-rgb)
}

.toolbar-bg {
    background-color: var(--toolbar-bg-rgb)
}

.cursor-bg-hover:hover {
    background-color: var(--marker-rgb)
}

.resize-handle-h {
    width: 6px;
    border-radius: unset !important;
}

.resize-handle-v {
    height: 6px;
    border-radius: unset !important;
}

/* obsolete */
.button-border {
    border-style: var(--button-bstyle);
    border-color: var(--button-border-rgb);
}

/* obsolete */
.button.padded-h {
    padding-left: calc(var(--default-padding-px) + var(--button-border-radius-px) / 3) !important;
    padding-right: calc(var(--default-padding-px) + var(--button-border-radius-px) / 3) !important;
}

/* obsolete */
.button.padded-v {
    padding-top: calc(var(--default-padding-px) + var(--button-border-radius-px) / 3) !important;
    padding-bottom: calc(var(--default-padding-px) + var(--button-border-radius-px) / 3) !important;
}

.no-events {
    pointer-events: none;
}

.all-events {
    pointer-events: all;
}

.cursor-neswresize {
    cursor: nesw-resize;
}

.cursor-nwseresize {
    cursor: nwse-resize;
}

.cursor-vresize {
    cursor: ns-resize;
}

.cursor-hresize {
    cursor: ew-resize;
}

.icon-rotate {
    animation: rotate 1.2s linear infinite;
}

.margin-top-auto {
    margin-top: auto
}

.margin-left-auto {
    margin-left: auto
}

.margin-v-auto {
    margin-top: auto;
    margin-bottom: auto
}

.margin-h-auto {
    margin-left: auto;
    margin-right: auto
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}