/* Base CSS */

:root {
    --link-resources: 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i https://fonts.googleapis.com/icon?family=Material+Icons';
    --brightness-factor: -1;
    --modal-overlay-bg-color: #000000a3;

    --scrollbar-color: #B0B0B0;
    --scrollbar-bg-color: #EFEFEF;


    --editor-bg-color: #404040;
    --editor-color: #B0B0B0;

    --warning-color: #D8B2A2;

    --toolbar-bg-color: #606060;

    --input-bg-color: #000000;
    --input-color: #A0A0D0;
    --input-border-color: #8080A0;

    --button-bg-color: #A0A0A0;
    --button-color: #303020;
    --button-border-color: #606060;
    --button-border-style: inset;
    --button-border-radius: 0px;
    --button-font-family: Arial;

    --marker-width: 8px;
    --marker-color-highlight: #FF4747;
    --marker-color: #FFFFFF77;

    --min-opacity: 0.2;
    --max-opacity: 0.7;
    --max-invert: 50%;
}

html, body {
    cursor: auto;
    overscroll-behavior-x: contain;
    background-color: var(--editor-bg-color);
    color: var(--editor-color);
}

.hidden {
    display: none
}

.less {
    opacity: 0.5
}

.outline-1 {
    outline: 1px solid var(--box-border-color)
}

.content-box {
    box-sizing: content-box !important;
}

.material-icons.md-18 {
    font-size: 18px;
}

.text-vertical {
    writing-mode: vertical-lr
}

.checkerboard-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggRDQENU0dyawAAACZJREFUGNNjPHXqDAMSMDY2ROYyMeAFNJVm/Pv3LzL/7Nnzg8VpAKebCGpIIxHBAAAAAElFTkSuQmCC');
    background-repeat: repeat
}

.noGap {
    margin-left: 0px !important
}

.separator-h {
    margin-left: 2px;
    margin-right: 2px;
    background-color: var(--box-border-color)
}

.transparent {
    background-color: transparent !important;
}

.pos-0 {
    top: 0;
    left: 0
}

/* TODO */
.tooltip {
    background-color: #b3bbb1;
    color: #000000;
    width: max-content;
    max-width: 50vw
}

.tooltip-parent:hover > .tooltip {
    display: block !important
}

/* Scrollbar */

.scrollbar-div {
    border: 2px inset var(--scrollbar-color);
    padding: 1px;
    margin: 0px;
    background-color: var(--scrollbar-bg-color);
}

.scrollbar-handle {
    flex: 1;
    border: 2px outset var(--scrollbar-color);
    background-color: var(--scrollbar-color);
    filter: brightness(calc(1 - var(--brightness-factor) * 0.25));
}

.scrollbar-handle:hover {
    filter: brightness(1);
}

.scrollbar-handle.active {
    filter: brightness(calc(1 + var(--brightness-factor) * 0.25));
}


/* ALL:   */

.modal-overlay {
    background-color: var(--modal-overlay-bg-color);
}

.modal-centered {
    background-color: var(--editor-bg-color);
}

.modal-bounds {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
}

.overflow {
    overflow: visible;
}

.hover-inverse:hover {
    background-color: #888888;
    color: white;
    cursor: pointer;
}

.font-small {
    font-size: 14px;
}

/* Theme-Styling */

.hover-highlight {
    filter: brightness(calc(1 - var(--brightness-factor) * 0.25));
}

.hover-highlight:hover:not(.clicked) {
    filter: brightness(1) !important;
}

.hover-highlight.clicked {
    filter: brightness(calc(1 + var(--brightness-factor) * 0.25)) !important;
}

.control-bg {
    background-color: var(--scrollbar-color);
}

.active-bg {
    background-color: rgba(91, 170, 43, 0.93);
    color: white;
}

.active-bg-text {
    color: rgba(91, 170, 43, 0.93)
}

.active-border {
    border: solid rgba(91, 170, 43, 0.93) 2px !important;

}

.disabled {
    opacity: 0.45
}

.top {
    z-index: 2000000;
    outline: 1px solid red;
}

.shadow {
    box-shadow: 5px 5px 5px #00000088;
}

.rev-cols {
    flex-direction: column-reverse !important
}

@-webkit-keyframes blinker {
    from {
        backdrop-filter: invert(0%);
        opacity: var(--max-opacity);
    }
    to {
        backdrop-filter: invert(var(--max-invert));
        opacity: var(--min-opacity);
    }
}

.blink {
    opacity: 0.5;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.even-cell {
    background-color: #00000044;
}

.odd-cell {
    background-color: #FFFFFF44;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes input-warning {
    from {background-color: var(--input-bg-color)}
    to {background-color: var(--warning-color)}
}

div.invalid,
textarea.invalid,
input.invalid,
input:invalid {
    -webkit-animation-name: input-warning;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    color: black;
}

.col-span-2 {
    grid-column: span 2
}

/*
    Theme-Css
*/

.color-warning {
    color: var(--warning-color)
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.marker-grid {
    position: relative;
    display: grid;
    grid-template-columns: var(--marker-width) min-content var(--marker-width);
    grid-template-rows: var(--marker-width) min-content var(--marker-width);
}

.marker-cell {
    background-color: var(--marker-color);
}

.marker-cell-highlight {
    background-color: var(--marker-color-highlight)
}

.toolbar-bg {
    background-color: var(--toolbar-bg-color)
}

.cursor-bg-hover:hover {
    background-color: var(--marker-color)
}

.checkbox {
    color: var(--input-bg-color);
}

.input {
    background-color: var(--input-bg-color);
    color: var(--input-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px
}

.resize-handle-h {
    width: 6px;
    border-radius: unset !important;
}

.resize-handle-v {
    height: 6px;
    border-radius: unset !important;
}

.button {
    color: var(--button-color);
    font-family: var(--button-font-family);
    border-radius: var(--button-border-radius);
    padding: calc(var(--button-border-radius) / 3)
}

.button:not(.active-bg) {
    background-color: var(--button-bg-color);
}

.button-border {
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
}

.button.padded-h {
    padding-left: calc(var(--default-padding) + var(--button-border-radius) / 3) !important;
    padding-right: calc(var(--default-padding) + var(--button-border-radius) / 3) !important;
}

.button.padded-v {
    padding-top: calc(var(--default-padding) + var(--button-border-radius) / 3) !important;
    padding-bottom: calc(var(--default-padding) + var(--button-border-radius) / 3) !important;
}

.no-events {
    pointer-events: none;
}

.all-events {
    pointer-events: all;
}

.cursor-neswresize {
    cursor: nesw-resize;
}

.cursor-nwseresize {
    cursor: nwse-resize;
}

.cursor-vresize {
    cursor: ns-resize;
}

.cursor-hresize {
    cursor: ew-resize;
}
