#editor {
    font-family: Arial;
    font-size: 12px;
    background-color: #E0E0E0;
    color: #000000;
}

.content-block {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #909090;
}

#tile-cursor {
    opacity: 0.4;
    border: 3px solid #FF0000;
    margin: 3px 3px;
    padding: 0px 0px;
    position: absolute;
}

#map-edit-row {
    display: flex;
}

#map-edit-row > div {
    flex: auto;
}

#map-editor {
    position: relative;
    height: 240px;
}

#map-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 4px dashed #404040;
}

#map-canvas-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    padding: 4px;
}

.content-div {
    border: 5px solid #808080;
    padding: 3px;
    overflow-x: scroll;
}

h1 {
    padding: 10px 10px;
}