/* Layout CSS */

:root {
    --default-padding: 5px;
    --box-border-width: 5px;
    --box-border-color: #000000;
    --max-width: 1200px;
    --max-height: 1200px;
}

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 12px;
}

.editor-bounds {
    max-width: var(--max-width);
    max-height: var(--max-height);
}

.wrap-normal.full-h {
/*    width: max-content !important; */
    max-width: 100%
}

.text-center {
    text-align: center
}

.block {
    overflow: hidden;
    user-select: none
}

.bounds {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.scroll {
    overflow: auto !important;
}

.stack-h {
    display: inline-flex;
}

.no-inline,
.stack-h.center-h {
    display: flex !important;
}

.stack-h:not(.flow-padding):not(.flow-padding-1) {
    align-items: start
}

.stack-h > .center-v,
.stack-h > .full-v:not(.bounds) {
    align-self: stretch;
    height: auto;
}

.stack-v {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.stack-h > .fix-h,
.stack-v > .fix-v,
.stack-h > div:not(.flex):not(.full-h),
.stack-v > div:not(.flex):not(.full-v) {
    flex-shrink: 0
}

.stack-v > .full-v:not(.fix-v),
.stack-h > .full-h:not(.fix-h),
.flex {
    flex: 1
}

.wrap {
    flex-wrap: wrap;
}

.center-child-h > div,
.center-child-h > .parent > div,
.center-h {
    margin-left: auto;
    margin-right: auto
}

.center-v {
    display: flex;
    flex-direction: column;
    height: 100%
}

.center-v > div {
    margin-top: auto;
    margin-bottom: auto;
}

.grid:not(.grid-cells-centered) > .min-content-h
{
    width: 100% !important;
}

.min-content-h {
    width: min-content
}

.flex-items-centered {
    justify-content: center;
}

.flex-item-centered {
    align-items: center;
}

.full-v {
    height: 100%
}

.full-h {
    width: 100%
}

.max-v {
    max-height: 100%
}

.child-max-h > div,
.max-h {
    max-width: 100%
}

.nowrap {
    white-space: nowrap
}

.wrap-normal {
    white-space: normal
}

.nowrap-shorten {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1 !important
}

.flow-padding > div {
    margin-top: var(--default-padding);
    margin-left: var(--default-padding)
}

.flow-padding-1 > div {
    padding-right: var(--default-padding);
    margin-bottom: var(--default-padding);
}

.flow-padding-1 {
    box-sizing: border-box
}

.flow-padding {
    padding-bottom: var(--default-padding);
    padding-right: var(--default-padding);
    box-sizing: border-box
}

.grid {
    display: grid
}

.grid-gap {
    grid-gap: var(--default-padding)
}

.grid-cells-centered {
    justify-items: center;
    align-items: center
}

input.full-h,
textarea.full-h,
textarea.full-v {
    box-sizing: border-box
}

.indented {
    padding: var(--default-padding);
    box-sizing: border-box
}

.padded {
    padding: var(--default-padding);
    box-sizing: border-box
}

.padded-p {
    padding: 1px;
    box-sizing: border-box
}

.padded-h {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    box-sizing: border-box
}

.padded-v {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
    box-sizing: border-box
}

.padded-1 {
    padding-top: var(--default-padding)
}
.padded-2 {
    padding-bottom: var(--default-padding)
}
.padded-4 {
    padding-bottom: var(--default-padding)
}
.padded-8 {
    padding-bottom: var(--default-padding)
}
.border-box {
    box-sizing: border-box;
}

.center-items {
    align-items: center;
}

.inner-space-v > div:not(:first-child) {
    margin-top: var(--default-padding)
}

.inner-space-h > div:not(:first-child) {
    margin-left: var(--default-padding)
}

.inner-space-v-1 > div:not(:first-child) {
    margin-top: 1px
}

.inner-space-h-1 > div:not(:first-child) {
    margin-left: 1px
}

/*
.inner-border-v > div:not(:first-child)::before {
    display: block;
    content: '';
    background-color: var(--box-border-color);
    width: 100%;
    height: var(--box-border-width);
}
*/

.border-div-v {
    background-color: var(--box-border-color);
    height: var(--box-border-width);
    align-self: stretch;
}

.inner-border-h > div:not(:first-child) {
    border-left: var(--box-border-width) solid var(--box-border-color);
    box-sizing: border-box;
}

.boxed {
    border: var(--box-border-width) solid var(--box-border-color);
}

.no-border-1 {
    border-top: none !important
}
.no-border-2 {
    border-bottom: none !important
}
.no-border-4 {
    border-left: none !important
}
.no-border-8 {
    border-right: none !important
}

.boxed-1,
.thin-boxed {
    border: 1px solid var(--box-border-color);
}

div.boxed, div.thin-boxed {
    box-sizing: border-box;
}

.border-bg {
    background-color: var(--box-border-color)
}

.stretch {
    align-self: stretch
}

.absolute {
    position: absolute;
}

.relative {
    position: relative
}

.fixed {
    position: fixed;
}

.hidden {
    display: none
}

.invisible {
    opacity: 0
}

.borders-h {
    align-self: stretch;
    width: var(--box-border-width);
    background-color: var(--box-border-color)
}

.borders-1-h {
    align-self: stretch;
    width: 1px;
    background-color: var(--box-border-color)
}

.borders-v {
    width: 100%;
    height: var(--box-border-width);
    background-color: var(--box-border-color)
}

.borders-1-v {
    width: 100%;
    height: 1px;
    background-color: var(--box-border-color)
}

*:focus {
    outline-offset: -1px;
    outline-style: dot-dash;
}
