.game-bg-rgb {
    background-color: var(--game-bg-rgb);
}

.loading {
    display: flex;
    justify-content: center;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

#touch-input-dir {
    position: absolute;
    top: 50px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

#touch-input-dir > .touch-dir-cell {
    height: 50px;
}

#touch-input-buttons {
    position: absolute;
    top: 50px;
    right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
}

#touch-input-buttons > .touch-dir-cell {
    height: 80px;
}

#tmp-resources-warning {
    padding: 3px;
    text-align: center;
    background-color: #000000;
    color: #d78282;
    border: 2px solid #CC0000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px
}

.touch-dir-cell {
    border: 2px outset #808080
}

.touch-dir-middle {
    border: none;
    background-color: transparent;
}

.touching {
    background-color: #FF0000;
}

/*
body {
--box-border-width: 2px;
--box-border-color: #FFFFFF;
--box-border-style: solid;

--sub-box-border-width: 2px;
--sub-box-border-color: #A0A0A0;
--sub-box-border-style: solid;

--title-bg-color-active: #F0D090;
--title-text-color-active: #404040;
--title-text-size: 1.2em;

--title-bg-color-inactive: #A09080;
--title-text-color-inactive: #505050;

--content-bg-color:  #5050A0;
--content-text-color: #FFFF80;

--action-border-width: 2px;
--action-border-style: solid;
--action-border-color: #808080;
--action-box-size: 18px;
--action-box-bg-color: #C0C0E0;
--action-box-text-color: #808080;
--action-box-bg-color-hover: #FFFFFF;

--toolbar-bg-color: #A09090;
--toolbar-color: #303050;

--modal-overlay-bg-color: #000000a3;

--default-padding: 5px;

--marker-width: 8px;
--marker-color-highlight: #FF474799;
--marker-color: #FFFFFF77;

--small-font-size: 14px;
overflow: hidden;
}
*/


